body {
    background: linear-gradient(90deg, rgb(0, 33, 77), rgb(0, 95, 219), rgb(0, 33, 77));
    color: rgb(225, 225, 225);
    font-family: sans-serif;
}

a {
    text-decoration: none;
    font-weight: 200;
    color:rgb(225, 225, 225);
}
h1 {
    text-align: center;
}