body {
    background-color: #ffffff;
    margin: 0;
}

h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
    margin-bottom: 10px;
}
footer{
    background-color: #333;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 20px;
    color: #ffffff;
}
div p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin: 10px auto 25px auto;
    padding: 0 4% 0 4%;
}
div h2 {
    margin: auto;
    padding: 0 2% 0 6%;
    font-size: 26px;
}
div {
    max-width: 800px;
}

/* Styling the navigation bar */
header {
    background-color: #333;
    margin: 0;
    padding: 5px;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: sans-serif;
}

nav ul li a:hover {
    text-decoration: underline;
}